<header class="header">

<a href="/" class="header__logo">NodeJs</a>
    

<nav class="header__nav">
    <ul>
        <li>
            <a href="/" class="">Home</a>
        </li>
        <li>
            <a href="/about" class="">About</a>
        </li>
        <li>
            <a href="/contact" class="">Contact</a>
        </li>
    </ul>

</nav>

<div class =" header__button">
    <button class="searcBtn" aria-expanded="false">
        Search
        <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M17.5 10C12.8807 10 14 8.88071 14 7.5C14 6.11929 12.8807 5 11.5 5C10.1193 5 9 6.11929 9 7.5C9 8.88071 10.1193 10 11.5 10ZM11.5 11C10.6716 11 10 10.3284 10 9.5C10 8.67157 10.6716 8 11.5 8C12.3284 8 13 8.67157 13 9.5C13 10.3284 12.3284 11 11.5 11Z" fill="black"/>
            <path d="m14.5 14.5-3.5-3.5" stroke="black" stroke-width="2" stroke-linecap="round"/>
    </button>
</div>
</header>