<div class="author">
    <h1 class ="author__heading"> Hi, Saya nawwaf.</h1>
    <p class="author__body">Saya adalah seorang web developer yang berfokus pada pengembangan aplikasi web dengan menggunakan NodeJs dan ExpressJs.</p>
</div>